/* Application specific styles */
body {
  padding-top: 80px;
}
/* Styles for angular ui transition animations */
.angular-animation-container {
  position: relative;
}
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: absolute;
}
.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}
.at-view-emerge.ng-enter {
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    -o-transition-property: opacity, -o-transform;
    transition-property: opacity transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: rotateX(-60deg) translate(0, 200%);
    -moz-transform: rotateX(-60deg) translate(0, 200%);
    -ms-transform: rotateX(-60deg) translate(0, 200%);
    -o-transform: rotateX(-60deg) translate(0, 200%);
    transform: rotateX(-60deg) translate(0, 200%);
    opacity: 0;
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0px;
}

.at-view-emerge.ng-enter-active {
    -webkit-transform: rotateX(0deg) translate(0, 0);
    -moz-transform: rotateX(0deg) translate(0, 0);
    -ms-transform: rotateX(0deg) translate(0, 0);
    -o-transform: rotateX(0deg) translate(0, 0);
    transform: rotateX(0deg) translate(0, 0);
    opacity: 1;
}

.at-view-scale-out.ng-leave {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.at-view-scale-out.ng-leave-active {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
}