<div ui-view="adminvw" class="anim-in-out anim-slide-below-fade col-lg-12" data-anim-speed="500" ng-controller="app.views.admin.adminstart as vm">
    <div class="col-lg-4" ng-repeat="cat in vm.menuData">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="{{cat.iconCss}}"></i>
                </div>
                <div class="row-content">
                    <h5 class="list-group-item-heading">{{cat.value}}</h5>
                    <div class="least-content"></div>
                    <div class="list-group">
                        <div ng-repeat="menu in cat.menus">
                            <div class="list-group-item">
                                <h4 class="list-group-item-text">
                                    <a ui-sref="admin.{{menu.menuName}}"><i class="{{menu.imageIconClass}}" /> {{menu.displayName}}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>